.header {
		height: 160px;			
		background-color: orange;
		text-align: center;
		vertical-align: middle;
		padding-top: 40px;
		font-size: 35px;
}


.container-fluid {
		padding: 0px;
}

strong {
	color: black;
	font-size: 18;
}

.lnk {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	
}

